---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<div class="mv">
			<div class="mvCopy">
				<h1 class="mvCopy-main">ALL IN ONE,<br>ALL IN <em>NEO</em></h1>
				<div class="mvCopy-sub">全てを一つに、<br class="for-sp">全てを<em>NEO</em>に</div>
			</div>	
			<div class="mvN3Link">
				<a href="">
					<span class="mvN3Link-mark">
						<img src="/img/common/logo-mark.svg" width="28" height="34" alt="">
					</span>
					<span class="mvN3Link-text">N3ネットワーク<br>への移行はこちら</span>
				</a>
			</div>
		</div>
		<section class="welcome">
			<h2 class="welcome-title">ようこそ<em>NEO</em>へ</h2>
			<div class="welcome-lead">NEOは、コミュニティ主導で<br class="for-sp">開発された<br class="for-pc">オープンソースの<br class="for-sp">ブロックチェーンプラットフォームです</div>
			<div class="welcome-contents">
				<div class="welcomeContents">
					<div class="welcomeContents-des">
						<div class="welcomeContents-des-en">GLOBAL<br>CONTRIBUTORS</div>
						<div class="welcomeContents-des-text">コミュニティを支える<br>世界中の協力者たち</div>
						<div class="welcomeContents-des-github">
							<a href=""><img src="/img/common/icon-github.png" width="135" height="38" alt="repository Github"></a>
						</div>
					</div>
					<div class="welcomeContents-num">
						<div class="welcomeContents-num-item">
							<span class="welcomeContents-num-item-main js-show">3.4K</span>
							<span class="welcomeContents-num-item-sub">
								<span class="welcomeContents-num-item-sub-icon"><img src="/img/common/icon-star.png" width="45" height="40" alt=""></span>
								Stars</span>
						</div>
						<div class="welcomeContents-num-item">
							<span class="welcomeContents-num-item-main js-show">1.0K</span>
							<span class="welcomeContents-num-item-sub">
								<span class="welcomeContents-num-item-sub-icon"><img src="/img/common/icon-forks.png" width="45" height="38" alt=""></span>
								Forks</span>
						</div>
						<div class="welcomeContents-num-item">
							<span class="welcomeContents-num-item-main js-show">377</span>
							<span class="welcomeContents-num-item-sub">
								<span class="welcomeContents-num-item-sub-icon"><img src="/img/common/icon-bell.png" width="45" height="41" alt=""></span>
								Subscribes</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="progress">
			<h2 class="progress-title">進化を続ける<em>NEO</em></h2>
			<div class="progress-lead">
				<p>4年間の運用を経て、これまでのNeoブロックチェーンで最も強力で<br>豊富な機能を搭載した新バージョン”N3”へ移行し、更なる飛躍を遂げました。</p>
			</div>
			<div class="progressCard-wrap">
				<div class="progressCard">
					<a href="#technology">
						<div class="progressCard-illust">
							<img src="/img/top/link-1.svg" width="150" height="150" alt="">
						</div>
						<div class="progressCard-main">Technology</div>
						<span class="progressCard-more">
							<span class="progressCard-more-text">さらに詳しく→</span>
						</span>
					</a>
				</div>
				<div class="progressCard">
					<a href="#community">
						<div class="progressCard-illust">
							<img src="/img/top/link-2.svg" width="150" height="150" alt="">
						</div>
						<div class="progressCard-main">Community</div>
						<span class="progressCard-more">
							<span class="progressCard-more-text">さらに詳しく→</span>
						</span>
					</a>
				</div>
				<div class="progressCard">
					<a href="#token">
						<div class="progressCard-illust">
							<img src="/img/top/link-3.svg" width="150" height="150" alt="">
						</div>
						<div class="progressCard-main">Token</div>
						<span class="progressCard-more">
							<span class="progressCard-more-text">さらに詳しく→</span>
						</span>
					</a>
				</div>
				<div class="progressCard">
					<a href="#philosophy">
						<div class="progressCard-illust">
							<img src="/img/top/link-4.svg" width="150" height="150" alt="">
						</div>
						<div class="progressCard-main">Philosophy</div>
						<span class="progressCard-more">
							<span class="progressCard-more-text">さらに詳しく→</span>
						</span>
					</a>
				</div>
			</div>
		</section>
		<section id="technology" class="technology">
			<div class="technologySummary">
				<div class="technologySummary-titleArea">
				<div class="technologySummary-titleArea-title">
					<h2 class="technologySummary-titleArea-title-main">TECHNOLOGY</h2>
					<div class="technologySummary-titleArea-title-sub"><em>NEO</em>のテクノロジー</div>
				</div>
					<div class="technologySummary-titleArea-text">
						<p>ネイティブ機能は、分散型アプリケーションを構築するために必要な全てのインフラストラクチャを提供し、高度な相互運用性により、グローバルブロックチェーンエコシステムの力を活用できます。</p>
					</div>
				</div>
				<div class="technologyMarks">
					<div class="technologyMarks-item"><img src="/img/top/tex-1@2x.webp" alt="" width="134" height="144"></div>
					<div class="technologyMarks-item"><img src="/img/top/tex-2@2x.webp" alt="" width="134" height="144"></div>
					<div class="technologyMarks-item"><img src="/img/top/tex-3@2x.webp" alt="" width="134" height="144"></div>
					<div class="technologyMarks-item"><img src="/img/top/tex-4@2x.webp" alt="" width="134" height="144"></div>
					<div class="technologyMarks-item"><img src="/img/top/tex-5@2x.webp" alt="" width="134" height="144"></div>
					<div class="technologyMarks-item"><img src="/img/top/tex-6@2x.webp" alt="" width="134" height="144"></div>
					<div class="technologyMarks-item"><img src="/img/top/tex-7@2x.webp" alt="" width="134" height="144"></div>
				</div>
			</div>
			<div class="tecPanelsSlider splide">
				<div class="tecPanelsSlider-track splide__track">
					<div class="tecPanelsSlider-list splide__list">
						<div class="splide__slide">
							<section class="tecPanel">
								<div class="tecPanel-img">
									<img src="/img/top/tex-7.svg" width="118" height="136" alt="">
								</div>
								<h3 class="tecPanel-title">ONE BLOCK FINALITY</h3>
								<div class="tecPanel-ja">単一ブロックでのファイナリティ</div>
								<div class="tecPanel-text">dBFT コンセンサスメカニズムにより、単一ブロックでの高速かつ効率的なファイナリティが保証されます。</div>
							</section>
						</div>
						<div class="splide__slide">
							<section class="tecPanel">
								<div class="tecPanel-img">
									<img src="/img/top/tex-6.svg" width="118" height="136" alt="">
								</div>
								<h3 class="tecPanel-title">ORACLE</h3>
								<div class="tecPanel-ja">オラクル</div>
								<div class="tecPanel-text">オラクルは、オフチェーンのデータに安全にアクセスすることを可能にします。</div>
							</section>
						</div>
						<div class="splide__slide">
							<section class="tecPanel">
								<div class="tecPanel-img">
									<img src="/img/top/tex-5.svg" width="118" height="136" alt="">
								</div>
								<h3 class="tecPanel-title">NEOFS</h3>
								<div class="tecPanel-ja">ネオFS</div>
								<div class="tecPanel-text">オラクルは、オフチェーンのデータに安全にアクセスすることを可能にします。</div>
							</section>
						</div>
						<div class="splide__slide">
							<section class="tecPanel">
								<div class="tecPanel-img">
									<img src="/img/top/tex-4.svg" width="118" height="136" alt="">
								</div>
								<h3 class="tecPanel-title">SMART CONTRACTS</h3>
								<div class="tecPanel-ja">スマートコントラクト</div>
								<div class="tecPanel-text">C#、Go、Python、Java、またはTypeScriptでスマートコントラクトを作成します。</div>
							</section>
						</div>
						<div class="splide__slide">
							<section class="tecPanel">
								<div class="tecPanel-img">
									<img src="/img/top/tex-3.svg" width="118" height="136" alt="">
								</div>
								<h3 class="tecPanel-title">NEO NAME SERVICE</h3>
								<div class="tecPanel-ja">ネオネームサービス</div>
								<div class="tecPanel-text">次世代インターネットWebアプリケーション用の分散型.neoドメインサービス</div>
							</section>
						</div>
						<div class="splide__slide">
							<section class="tecPanel">
								<div class="tecPanel-img">
									<img src="/img/top/tex-2.svg" width="118" height="136" alt="">
								</div>
								<h3 class="tecPanel-title">INTEROPERABILITY</h3>
								<div class="tecPanel-ja">相互運用性</div>
								<div class="tecPanel-text">Polu.Networkにより、イーサリアム、バイナンスチェーンなど他のブロックチェーンとの間での相互運用が可能となりました。</div>
							</section>
						</div>
						<div class="splide__slide">
							<section class="tecPanel">
								<div class="tecPanel-img">
									<img src="/img/top/tex-1.svg" width="118" height="136" alt="">
								</div>
								<h3 class="tecPanel-title">NEO ID</h3>
								<div class="tecPanel-ja">ネオID</div>
								<div class="tecPanel-text">自己主権型の分散型アイデンティティソリューションの標準セット</div>
							</section>
						</div>
					</div>
				</div>
				<div class="splide__arrows">
					<!-- Prevは今回いらないが、HTMLを消すと機能しなくなるのでCSSで消す -->
					<button class="tecPanelsSlider-prev splide__arrow--prev">
						Prev
					</button>
					<button class="tecPanelsSlider-next splide-arrow splide__arrow--next" aria-label="次のスライドへ">
						<svg viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="80" cy="80" r="61" fill="#00E599" fill-opacity="0.7"/>
						<path d="M101.124 79.566V79.7799L61.1212 100.423L59.4634 97.1608L93.4228 79.7799V79.6195L59.4634 62.2387L61.1212 58.9764L101.124 79.566Z" fill="white"/>
						</svg>
					</button>
				</div>
			</div>
			<div class="btnCenter section-center-sp">
				<a href="" class="btn-simple is-outlink">詳しくはこちら</a>
			</div>
		</section>
		<section id="community" class="community">
			<div class="communitySummary">
				<div class="communitySummary-img">
					<img src="/img/top/community.svg" width="520" height="540" alt="">
				</div>
				<div class="communitySummaryDesc">
					<h2 class="communitySummaryDesc-title">
						<span class="communitySummaryDesc-title-en">COMMUNITY</span>
						<span class="communitySummaryDesc-title-ja">コミュニティの仕組み</span>
					</h2>
					<div class="communitySummaryDesc-text">
						<p>NEOコミュニティは、トークン保有者、評議会候補者、NEO候補者で構成され、新しいガバナンスメカニズムにより分散型ブロックチェーンへと進化しています。</p>
						<p>トークン保有者は評議会候補者を選出し、この評議会がネットワークの維持と調整を行います。</p>
						<p>GAS報酬は投票者と評議会候補者に分配され、ネットワークの効率化と分散化が図られています。</p>
					</div>
				</div>
			</div>
			<div class="communityFlow-wrap">
				<div class="communityFlow">
					<div class="communityFlow-item">
						<div class="communityFlow-item-img"><img width="220" height="208" src="/img/top/com-1.svg" alt=""></div>
						<div class="communityFlow-item-text">
							<p>NEOの保有者は、自分たちのノード候補に投票します。</p>
						</div>
					</div>
					<div class="communityFlow-item">
						<div class="communityFlow-item-img"><img width="179" height="205" src="/img/top/com-2.svg" alt=""></div>
						<div class="communityFlow-item-text">
							<p>投票された票は、それぞれの評議員候補に割り当てられます。</p>
						</div>
					</div>
					<div class="communityFlow-item">
						<div class="communityFlow-item-img"><img width="180" height="205" src="/img/top/com-3.svg" alt=""></div>
						<div class="communityFlow-item-text">
							<p>上位21位のノード候補者が、Neo評議会のメンバーとして投票により選出されます。</p>
						</div>
					</div>
					<div class="communityFlow-item">
						<div class="communityFlow-item-img"><img width="219" height="188" src="/img/top/com-4.svg" alt=""></div>
						<div class="communityFlow-item-text">
							<p>最も多くの票を得た上位7名の評議会メンバーが、コンセンサスノードとして選出されます。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="btnCenter section-center-sp">
				<a href="" class="btn-simple is-outlink">詳しくはこちら</a>
			</div>
		</section>
		<section id="token" class="dualToken">
			<div class="dualToken-inner">
				<div class="dualTokenContent">
					<h2 class="dualTokenContent-title">
						<span class="dualTokenContent-title-en">DUAL TOKEN</span>
						<span class="dualTokenContent-title-ja">ガス&amp;トークンモデル</span>
					</h2>
					<div class="dualTokenContent-subCopy">
						Neo には、ガバナンスとユーティリティを分離する独自のデュアルトークン モデルがあります。
					</div>
					<div class="dualTokenContent-text">
						<p>NEO トークン所有者はネットワークの所有者であり、ガバナンスに参加できます。 NEO 保有者は、ネットワーク ユーティリティ トークンである GAS の受動的な配布も受け取ります - ステーキングは必要ありません。投票に参加すると GAS の報酬が増加します。<br>GAS は、ネットワーク料金、スマート コントラクトの展開、および dApp の購入の支払いに使用されます。</p>
					</div>
					<div class="dualTokenContent-btns for-pc">
						<a href="" class="btn-simple is-outlink">トークンについての詳細はこちら</a>
						<a href="" class="btn-simple is-green is-outlink">ガスについての詳細はこちらから</a>
					</div>
				</div>
				<div class="dualToken-img">
					<img src="/img/top/img-data@2x.webp" alt="" width="495" height="541">
				</div>
			</div>
			<div class="dualTokenContent-btns for-sp">
				<a href="" class="btn-simple is-outlink">トークンについての詳細はこちら</a>
				<a href="" class="btn-simple is-green is-outlink">ガスについての詳細はこちらから</a>
			</div>
		</section>
		<section id="philosophy" class="philosophy">
			<h2 class="philosophy-title">
				<span class="philosophy-title-main"><em>NEO</em> PHILOSOPHY</span>
				<span class="philosophy-title-sub"><em>NEO</em>の理念</span>
			</h2>
			<dl class="philosophyDl">
				<div class="philosophyDl-item">
					<dt class="philosophyDl-item-title">VISION</dt>
					<dd class="philosophyDl-item-text">スマートエコノミーのための<br>オープンネットワークであること。</dd>
				</div>
				<div class="philosophyDl-item">
					<dt class="philosophyDl-item-title">MISSION</dt>
					<dd class="philosophyDl-item-text">デジタルであれ物理的であれ、<br>信頼と許可を最小限に抑えて<br>人間やプログラムがあらゆる資産に<br>アクセスできるようにすること。</dd>
				</div>
			</dl>
		</section>
		<section class="news">
			<h2 class="philosophy-title">
				<span class="philosophy-title-sub">お知らせ</span>
				<span class="philosophy-title-main">NEWS</span>
			</h2>
			<div class="newsContents-grid">
				<div class="newsContents">
					<a href="">
						<div class="newsContents-img">
							<img src="/img/common/news-img.png" width="330" height="185" alt="">
						</div>
						<time class="newsContents-date" datetime="2024-03-10">2024.3.10</time>
						<div class="newsContents-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</div>
					</a>
				</div>
				<div class="newsContents">
					<a href="">
						<div class="newsContents-img">
							<img src="/img/common/news-img.png" width="330" height="185" alt="">
						</div>
						<time class="newsContents-date" datetime="2024-03-10">2024.3.10</time>
						<div class="newsContents-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</div>
					</a>
				</div>
				<div class="newsContents">
					<a href="">
						<div class="newsContents-img">
							<img src="/img/common/news-img.png" width="330" height="185" alt="">
						</div>
						<time class="newsContents-date" datetime="2024-03-10">2024.3.10</time>
						<div class="newsContents-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</div>
					</a>
				</div>
			</div>
			<div class="js-accordion">
				<div class="js-accordion-content">
					<div class="js-accordion-content-inner">
						<div class="newsContents-grid">
							<div class="newsContents">
								<a href="">
									<div class="newsContents-img">
										<img src="/img/common/news-img.png" width="330" height="185" alt="">
									</div>
									<time class="newsContents-date" datetime="2024-03-10">2024.3.10</time>
									<div class="newsContents-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</div>
								</a>
							</div>
							<div class="newsContents">
								<a href="">
									<div class="newsContents-img">
										<img src="/img/common/news-img.png" width="330" height="185" alt="">
									</div>
									<time class="newsContents-date" datetime="2024-03-10">2024.3.10</time>
									<div class="newsContents-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="newsMore btnCenter section-center-sp">
					<span class="btn-simple is-tobottom js-accordion-title" data-open="もっと見る" data-close="一部の表示に戻す">もっと見る</span>
				</div>
			</div>
		</section>
		<aside class="asideContents">
			<div class="asideContents-inner">
				<section class="alphaPanel">
					<h2 class="alphaPanel-title">
						<span class="alphaPanel-title-main">ECOSYSTEM</span>
						<span class="alphaPanel-title-sub">エコシステムの<br class="for-sp">検索はこちら</span>
					</h2>
					<div class="alphaPanel-ndapp">
						<img src="/img/top/n-dapp.svg" width="182" height="50" alt="N/DAPP">
					</div>
				</section>
				<section class="alphaPanel">
					<h2 class="alphaPanel-title">
						<span class="alphaPanel-title-main">PARTNERS</span>
						<span class="alphaPanel-title-sub">協賛パートナー様</span>
					</h2>
					<div class="alphaPanel-partners">
						<div class="alphaPanel-partners-item"><img src="/img/top/partner-1@2x.webp" width="140" height="49" alt="InterWork Alliance"></div>
						<div class="alphaPanel-partners-item"><img src="/img/top/partner-2@2x.webp" width="140" height="49" alt="Blockchain-based Service Network"></div>
						<div class="alphaPanel-partners-item"><img src="/img/top/partner-3@2x.webp" width="140" height="49" alt="PolyNetwork"></div>
						<div class="alphaPanel-partners-item"><img src="/img/top/partner-4@2x.webp" width="140" height="49" alt="IEEE"></div>
						<div class="alphaPanel-partners-item"><img src="/img/top/partner-5@2x.webp" width="140" height="49" alt="NET foundation"></div>
					</div>
				</section>
			</div>
		</aside>
	</main>
</Layout>
