---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Developer">
	<main>
		<div class="mv is-heightNarrow is-left">
			<div class="mvCopy2">
				<h1 class="mvCopy2-main">DEVELOPERS</h1>
				<div class="mvCopy2-sub">開発者向けページ</div>
				<div class="mvSub">
					<ul class="mvSub-ul">
						<li class="mvSub-ul-li"><a href="">GITHUB</a></li>
						<li class="mvSub-ul-li"><a class="is-outlink" href="">ドキュメント</a></li>
						<li class="mvSub-ul-li"><a class="is-outlink" href="">チュートリアル</a></li>
					</ul>
				</div>
			</div>	
		</div>
		<section class="reason">
			<h2 class="title-big is-s"><em>NEO</em>が<br class="for-sp">選ばれる理由</h2>
			<div class="technologyLists">
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-1@2x.webp" alt="" width="186" height="205">
					</div>
					<div class="technologyLists-item-cap">自己主権型ID</div>
				</div>
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-2@2x.webp" alt="" width="186" height="205">
					</div>
					<div class="technologyLists-item-cap">相互運用性</div>
				</div>
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-3@2x.webp" alt="" width="186" height="205">
					</div>
					<div class="technologyLists-item-cap">NEOネーム<br>サービス</div>
				</div>
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-4@2x.webp" alt="" width="188" height="205">
					</div>
					<div class="technologyLists-item-cap">スマート<br>コントラクト</div>
				</div>
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-5@2x.webp" alt="" width="186" height="205">
					</div>
					<div class="technologyLists-item-cap">分散型ストレージ</div>
				</div>
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-6@2x.webp" alt="" width="186" height="205">
					</div>
					<div class="technologyLists-item-cap">ネイティブ<br class="for-sp">オラクル</div>
				</div>
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-7@2x.webp" alt="" width="186" height="205">
					</div>
					<div class="technologyLists-item-cap">1ブロックの<br>ファイナリティ</div>
				</div>
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-8@2x.webp" alt="" width="186" height="205">
					</div>
					<div class="technologyLists-item-cap">クラス最高ツール</div>
				</div>
				<div class="technologyLists-item">
					<div class="technologyLists-item-img">
						<img src="/img/developers/tex-9@2x.webp" alt="" width="186" height="205">
					</div>
					<div class="technologyLists-item-cap">多言語対応</div>
				</div>
			</div>
		</section>
		<section class="baseKnowledge">
			<div class="baseKnowledgeContents">
				<div class="baseKnowledgeContents-titleArea">
					<h2 class="title-l is-white">
						<span class="title-l-main">BASE<br>KNOWLEDGE</span>
						<span class="title-l-sub"><em>NEO</em>の基礎知識を理解する</span>
					</h2>
					<div class="baseKnowledgeContents-titleArea-text">
						<p>ブロックチェーン上で優れたアプリケーションを構築するために役立つツールとリソースの包括的なコレクションをご覧ください。</p>
					</div>
				</div>
				<div class="baseKnowledgeContents-panel">
					<div class="bkPanel">
						<div class="bkPanel-title">
							<span class="bkPanel-title-en">ABOUT N3</span>
							<span class="bkPanel-title-ja">N3 の機能について学ぶ</span>
						</div>
						<div class="bkPanel-illust">
							<img src="/img/developers/knowledge-1.svg" alt="" width="111" height="100">
						</div>
					</div>
					<div class="bkPanel">
						<div class="bkPanel-title">
							<span class="bkPanel-title-en">SET UP</span>
							<span class="bkPanel-title-ja">開発チェーンをセットアップ</span>
						</div>
						<div class="bkPanel-illust is-pat2">
							<img src="/img/developers/knowledge-2.svg" alt="" width="79" height="100">
						</div>
					</div>
					<div class="bkPanel">
						<div class="bkPanel-title">
							<span class="bkPanel-title-en">N3 TESTNET</span>
							<span class="bkPanel-title-ja">N3 テストネットフォーセット</span>
						</div>
						<div class="bkPanel-illust is-pat2">
							<img src="/img/developers/knowledge-3.svg" alt="" width="79" height="100">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="toolkit">
			<h2 class="title-l is-center">
				<span class="title-l-main">TOOLKIT</span>
				<span class="title-l-sub">NEO開発者用ツールキット</span>
			</h2>
			<div class="toolkitContents">
				<div class="toolkitList js-convert js-toolkit-filter">
					<ul class="toolkitList-ul js-convert-ul">
						<li class="toolkitList-ul-li">
							<button class="is-active" data-index="1">
								<span class="toolkitList-ul-li-main js-convert-option">Nodes</span>
								<span class="toolkitList-ul-li-sub">Nodes</span>
							</button>
						</li>
						<li class="toolkitList-ul-li">
							<button data-index="2">
								<span class="toolkitList-ul-li-main js-convert-option">Explorer</span>
								<span class="toolkitList-ul-li-sub">エクスプローラー</span>
							</button>
						</li>
						<li class="toolkitList-ul-li">
							<button data-index="3">
								<span class="toolkitList-ul-li-main js-convert-option">Smart Contract Compilers</span>
								<span class="toolkitList-ul-li-sub">スマートコントラクトコンパイラ</span>
							</button>
						</li>
						<li class="toolkitList-ul-li">
							<button data-index="4">
								<span class="toolkitList-ul-li-main js-convert-option">Smart Contract Dev &amp; Debug</span>
								<span class="toolkitList-ul-li-sub">スマートコントラクトの開発とデバッグ</span>
							</button>
						</li>
						<li class="toolkitList-ul-li">
							<button data-index="5">
								<span class="toolkitList-ul-li-main js-convert-option">SDK</span>
								<span class="toolkitList-ul-li-sub">SDK</span>
							</button>
						</li>
						<li class="toolkitList-ul-li">
							<button data-index="6">
								<span class="toolkitList-ul-li-main js-convert-option">dApp Integration</span>
								<span class="toolkitList-ul-li-sub">dappの統合</span>
							</button>
						</li>
					</ul>
				</div>
				<div class="toolkitPanel-grid js-filter-panels">
					<div class="toolkitPanel js-filter-panel" data-filter="1">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-1@2x.png" alt="" width="96" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neo-CLI</span>
							<span class="toolkitPanel-text-sub">The Neo Project</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="1">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-2@2x.png" alt="" width="71" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neo-GUI</span>
							<span class="toolkitPanel-text-sub">Neo Groval</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">C#</span>
							<span class="toolkitPanel-tag-i">JavaScript</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="1,3,5">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-3@2x.png" alt="" width="72" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">NeoGO</span>
							<span class="toolkitPanel-text-sub">Neo SPCC</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">GO</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="5">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-10@2x.png" alt="" width="72" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neo RPC SDK</span>
							<span class="toolkitPanel-text-sub">The Neo Project</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">C#</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="1">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-4@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neo Bench</span>
							<span class="toolkitPanel-text-sub">Neo SPCC</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">GO</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="1">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-4@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">NeoFS DevEnv</span>
							<span class="toolkitPanel-text-sub">Neo SPCC</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">GO</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="1">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-5@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">N3-Docker</span>
							<span class="toolkitPanel-text-sub">Neo Global Development</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">Shell</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="1">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-6@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neo-Express</span>
							<span class="toolkitPanel-text-sub">The Neo Project</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">C#</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="2">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-7@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">OneGate Explorer</span>
							<span class="toolkitPanel-text-sub">The Neo Order</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="2">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-8@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neo Tube</span>
							<span class="toolkitPanel-text-sub">NEXT</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="2">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-9@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Dora</span>
							<span class="toolkitPanel-text-sub">COZ</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="3">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-10@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main is-s">Neo-devpack-dotnet</span>
							<span class="toolkitPanel-text-sub">The Neo Project</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">C#</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="3">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-11@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Boa</span>
							<span class="toolkitPanel-text-sub">COZ</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">Python</span>
						</div>
					</div>					
					<div class="toolkitPanel js-filter-panel" data-filter="4">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-10@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main is-s">Neo Blockchain Toolkit</span>
							<span class="toolkitPanel-text-sub">NGD Enterprise</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">C#</span>
							<span class="toolkitPanel-tag-i">Python</span>
							<span class="toolkitPanel-tag-i">Go</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="4">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-14@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main is-s">Neo Compiler Eco</span>
							<span class="toolkitPanel-text-sub">NeoResearch</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">C#</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="4">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-13@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main is-s">NEO&#8226;ONE</span>
							<span class="toolkitPanel-text-sub">NEO Tracker</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">TypeScript</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="4">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-12@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neo PlayGround</span>
							<span class="toolkitPanel-text-sub">AxLabs</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">Java</span>
							<span class="toolkitPanel-tag-i">C#</span>
							<span class="toolkitPanel-tag-i">Go</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="3,4">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-12@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neow3j Compiler</span>
							<span class="toolkitPanel-text-sub">AxLabs</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">Java</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="5">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-15@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neon-js</span>
							<span class="toolkitPanel-text-sub">COZ</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">JavaScript</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="5">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-16@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">OneGate Explorer</span>
							<span class="toolkitPanel-text-sub">COZ</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">Python</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="5">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-10@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neo-gogogo</span>
							<span class="toolkitPanel-text-sub">Neo Global Development</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">Go</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="5">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-12@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">Neow3j</span>
							<span class="toolkitPanel-text-sub">AxLabs</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">Java</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="5">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-4@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">NeoFS API Go</span>
							<span class="toolkitPanel-text-sub">Neo SPCC</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">GO</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="5">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-4@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">NeoFS API CSharp</span>
							<span class="toolkitPanel-text-sub">Neo SPCC</span>
						</div>
						<div class="toolkitPanel-tag">
							<span class="toolkitPanel-tag-i">GO</span>
						</div>
					</div>
					<div class="toolkitPanel js-filter-panel" data-filter="6">
						<div class="toolkitPanel-illust">
							<img src="/img/developers/tool-17@2x.png" alt="" width="78" height="78">
						</div>
						<div class="toolkitPanel-text">
							<span class="toolkitPanel-text-main">NeoLine</span>
							<span class="toolkitPanel-text-sub">NEXT</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="tutorials">
			<h2 class="title-l is-white is-center">
				<span class="title-l-main">SAMPLES &amp; TUTORIALS</span>
				<span class="title-l-sub">サンプルとチュートリアル</span>
			</h2>
			<div class="tutorialsTabWrap js-tab-wrap">
				<div class="tutorialsTabBtns">
					<button id="tab1" class="tutorialsTabBtns-item js-tabone is-current">PYTHON</button>
					<button id="tab2" class="tutorialsTabBtns-item js-tabone">C#</button>
					<button id="tab3" class="tutorialsTabBtns-item js-tabone">Golang</button>
					<button id="tab4" class="tutorialsTabBtns-item js-tabone">JAVA</button>
				</div>
				<div class="tutorialsTabContents-wrap js-tabContents-wrap">
					<div class="js-tabContents tab1">
						<div class="tutorialsTabContents">
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/sample@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">「ハローワールド」 Python スマート コントラクト</h3>
									<div class="tutoPanel-main-text">
										Python で書かれた「Hello World」スマート コントラクトの例。
									</div>
								</div>
							</section>
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/sample@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">NEP-17 Python スマート コントラクト</h3>
									<div class="tutoPanel-main-text">Python で書かれた NEP-17 トークン スマート コントラクトの例。</div>
								</div>
							</section>
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/sample@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">トークンセールPythonスマートコントラクト</h3>
									<div class="tutoPanel-main-text">Python で書かれたトークンセール スマート コントラクトの例。</div>
								</div>
							</section>
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/sample@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">ラップされた NEO Python スマート コントラクト</h3>
									<div class="tutoPanel-main-text">Python で書かれた NEO スマート コントラクトをラップした例。</div>
								</div>
							</section>
						</div>
					</div>
					<div class="js-tabContents tab2">
						<div class="tutorialsTabContents">
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/sample@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">スマートコントラクトでの Oracle の使用</h3>
									<div class="tutoPanel-main-text">Neo の組み込み Oracle を使用してデータをクエリするスマート コントラクトの例。</div>
								</div>
							</section>
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/sample@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">NEP-17 スマート コントラクト - C#</h3>
									<div class="tutoPanel-main-text">C# で書かれた NEP-17 トークン スマート コントラクトの例。</div>
								</div>
							</section>
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/tutoreal@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">Neo-CLI コマンドに慣れる</h3>
									<div class="tutoPanel-main-text">ウォレットの作成、秘密キーのインポートとエクスポート、アセットの転送、コンセンサスの開始などの方法を含む、コマンドラインノードのコマンドの紹介。</div>
								</div>
							</section>
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/tutoreal@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">NEP-17 契約の書き方を学ぶ</h3>
									<div class="tutoPanel-main-text">NEP-17 トークン標準の紹介。これは、トークン化されたスマート コントラクト用の汎用対話メカニズムをシステムに提供します。</div>
								</div>
							</section>
						</div>
					</div>
					<div class="js-tabContents tab3">
						<div class="tutorialsTabContents">
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/sample@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">NEP-17 スマート コントラクト - ゴー</h3>
									<div class="tutoPanel-main-text">GO で書かれた NEP-17 トークン スマート コントラクトの例。</div>
								</div>
							</section>
						</div>
					</div>
					<div class="js-tabContents tab4">
						<div class="tutorialsTabContents">
							<section class="tutoPanel">
								<div class="tutoPanel-img">
									<img src="/img/developers/sample@2x.png" alt="" width="118" height="118">
								</div>
								<div class="tutoPanel-main">
									<h3 class="tutoPanel-main-title">NEP-17 スマート コントラクト - Java</h3>
									<div class="tutoPanel-main-text">Java で書かれた NEP-17 トークン スマート コントラクトの例</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ecoSupport">
			<div class="ecoSupportSummary">
				<h2 class="title-l">
					<span class="title-l-main"><em>ECO </em><br class="for-pc">SUPPORT</span>
					<span class="title-l-sub">開発者サポート</span>
				</h2>
				<div class="ecoSupportSummary-text">
					<p>Neoはプロジェクトの段階やニーズに合わせた様々な支援プログラムを提供し、エコシステムの成長を支援しています。これには開発者、新規プロジェクト、既存ビジネス、機関向けのオプションが含まれています。Neoブロックチェーンでのプロジェクト進行中に支援が必要な場合、自身の状況に合ったプログラムを選び、関連リンクから申し込み方法を確認してください。</p>
				</div>
				<div class="ecoSupportSummary-img">
					<img src="/img/developers/support.svg" alt="" width="621" height="304">
				</div>
			</div>
			<div class="supportLinks">
				<details class="supportLinksAccordion js-accordion">
					<summary class="supportLinksAccordion-title js-accordion-title">
						<span class="supportLinksAccordion-title-num">1</span>
						<span class="supportLinksAccordion-title-main">DAPP / BUSINESS</span>
						<span class="supportLinksAccordion-title-sub">DAPPまたはブロックチェーン関連ビジネス</span>
					</summary>
					<div class="supportLinksAccordion-content js-accordion-content">
						<div class="js-accordion-content-inner">
							<ul class="supportLinksContents">
								<li class="supportLinksContents-li"><a href="https://neo.org/eco#ecoboost" target="_blank">ECOBOOST</a></li>
								<li class="supportLinksContents-li"><a href="https://neo.org/eco#ecofund" target="_blank">ECOFUND</a></li>
								<li class="supportLinksContents-li"><a href="https://neo.org/eco#earlyadoption" target="_blank">EARLY ADOPTION PROGRAM</a></li>
							</ul>
						</div>
					</div>
				</details>
				<details class="supportLinksAccordion js-accordion">
					<summary class="supportLinksAccordion-title js-accordion-title">
						<span class="supportLinksAccordion-title-num">2</span>
						<span class="supportLinksAccordion-title-main">INFRA, TOOL AND CORE PROTOCOL</span>
						<span class="supportLinksAccordion-title-sub">インフラストラクチャ、ツール、コアプロトコル</span>
					</summary>
					<div class="supportLinksAccordion-content js-accordion-content">
						<div class="js-accordion-content-inner">
							<ul class="supportLinksContents">
								<li class="supportLinksContents-li"><a href="https://neo.org/eco#general-grants" target="_blank">GENERAL GRANTS</a></li>
								<li class="supportLinksContents-li"><a href="https://neo.org/eco#core-developer-grants" target="_blank">CORE DEV GRANTS</a></li>
							</ul>
						</div>
					</div>
				</details>
				<details class="supportLinksAccordion js-accordion">
					<summary class="supportLinksAccordion-title js-accordion-title">
						<span class="supportLinksAccordion-title-num">3</span>
						<span class="supportLinksAccordion-title-main">RESEARCH</span>
						<span class="supportLinksAccordion-title-sub">研究</span>
					</summary>
					<div class="supportLinksAccordion-content js-accordion-content">
						<div class="js-accordion-content-inner">
							<ul class="supportLinksContents">
								<li class="supportLinksContents-li"><a href="https://neo.org/eco#research-grants" target="_blank">RESEARCH GRANTS</a></li>
							</ul>
						</div>
					</div>
				</details>
			</div>
		</section>
		<section class="latestProjects">
			<h2 class="title-l is-center is-white">
				<span class="title-l-main">LATEST <br class="for-sp">PROJECTS</span>
				<span class="title-l-sub">直近の支援したプロジェクト</span>
			</h2>
			<div class="sliderLogo">
				<div class="sliderLogo-item">
					<div id="slider2" class="splide">
						<div class="splide__track">
							<ul class="splide__list">
								<li class="splide__slide"><img src="/img/developers/logo-slider@2x.png" alt="" width="2457" height="147"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
