<footer class="footer">
  <div class="footerContents">
    <div class="footerLogo">
      <img src="/img/common/logo.svg" width="200" height="80" alt="neo">
    </div>
    <nav class="footerNavi">
      <ul class="footerNavi-ul">
        <li class="footerNavi-ul-li"><a href="/developers/">DEVEROPER</a></li>
        <li class="footerNavi-ul-li"><a href="/about/">ABOUT</a></li>
      </ul>
      <div class="footerNavi-contact">
        <a href="" class="btn-simple is-green is-outlink">開発者向けはこちら</a>
      </div>
    </nav>
    <div class="footerSns">
      <div class="footerSns-item">
        <a href=""><img src="/img/common/icon-facebook.svg" width="41" height="41" alt="Facebook"></a>
      </div>
      <div class="footerSns-item">
        <a href=""><img src="/img/common/icon-x.svg" width="41" height="41" alt="X"></a>
      </div>
      <div class="footerSns-item">
        <a href=""><img src="/img/common/icon-wechat.svg" width="41" height="41" alt="Wechat"></a>
      </div>
      <div class="footerSns-item">
        <a href=""><img src="/img/common/icon-telegram.svg" width="41" height="41" alt="Telegram"></a>
      </div>
      <div class="footerSns-item">
        <a href=""><img src="/img/common/icon-discord.svg" width="41" height="41" alt="Discord"></a>
      </div>
      <div class="footerSns-item">
        <a href=""><img src="/img/common/icon-weibo.svg" width="41" height="41" alt="Weibo"></a>
      </div>
      <div class="footerSns-item">
        <a href=""><img src="/img/common/icon-reddit.svg" width="41" height="41" alt="Reddit"></a>
      </div>
      <div class="footerSns-item">
        <a href=""><img src="/img/common/icon-m.svg" width="41" height="41" alt="M"></a>
      </div>
    </div>
  </div>
  <small class="footerCopy">Copyright &copy; Neo Team 2014-2024</small>
</footer>