<header class="header">
  <div class="header-inner">
    <div class="header-logo">
      <img src="/img/common/logo.svg" alt="neo" width="112" height="45">
    </div>
    <div class="header-r">
      <nav class="gNavi">
        <ul class="gNavi-ul">
          <li class="gNavi-ul-li"><a href="">DEVELOPERS</a></li>
          <li class="gNavi-ul-li"><a class="is-outlink" href="">DOCUMENT︎</a></li>
          <li class="gNavi-ul-li"><a class="is-outlink" href="">NEWS︎</a></li>
        </ul>
      </nav>
      <div class="headerBtn for-pc">
        <a href="" class="btn-simple is-outlink">dApps</a>
      </div>
    </div>
  </div>
</header>
<button class="dwMenu" aria-label="メニューボタン">
  <span class="dwMenu-top"></span>
  <span class="dwMenu-middle"></span>
  <span class="dwMenu-bottom"></span>
</button>